<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QLDA_IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA54E1831E545C9600F83B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA54E1971E545C9600F83B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA54E1A21E545C9600F83B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
